* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .container{
    margin: 0 auto;
    max-width: 1000px;
 }
 .header { 
    background-color: brown;
 }
 .background-1{
    background-color: yellow;
 }

 .row{
    display: flex;
    flex-wrap: wrap;
 }
.row-1{
    display: flex;
   justify-content: space-between;
}
.col-1{
   width: calc(100 / 3);
}
 /*debug*/

.debug .container{
    border: 2px solid black;
    padding: 10px;
}
.debug .row{
    padding: 5px;
    border: 1px solid black;
}
