* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .container{
    margin: 0 auto;
    max-width: 1000px;
 }
 .header { 
    background-color: brown;
    padding: 10px;
 }
 .background-1{
    background-color: yellow;
 }
 .col-1{
    display: flex;
    justify-content: center;
    border: 1px dashed black;
 }

 .row{
    display: flex;
    flex-wrap: wrap;
 }
.row-1{
    display: flex;
   justify-content: space-around;
}
.col-1{
   width: calc(100% / 3);
}
.flexlogo{
    display: flex;
    justify-content: flex-start;
}
.flexlogin{
    display: flex;
    justify-content: flex-end;
}



 /*debug*/

.debug .container{
    border: 2px solid black;
    padding: 5px;
}
.debug .row{
    padding: 5px;
    
}
